@import "../../../../assets/styles/color-variables";
@import "../../../../assets/styles/typography";
@import "../../../../assets/styles/mixin";


#header{
    width: 100%;
    background-color: $z-byzantine-lite-2;
    border-bottom: 1px solid $z-orange-color;
    position: fixed;
    top: 0;
    z-index: 999;
    .headerInner{
        width: 100%;
        .headerInnercol{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .sidebar{
            display: flex;
            align-items: center;
            .searchbar{
                display: flex; 
                padding: 0.5rem; 
                justify-content: center; 
                align-items: center; 
                border-radius: 9999px; 
                background: $z-byzantine-lite-3;
                height: 45px;
                transition: all 0.5s ease;
                input{
                    display: block; 
                    padding: 0.625rem; 
                    border-radius: 0.5rem; 
                    border: none; 
                transition: all 0.5s ease;

                    // width: 280px; 
                    width: 0;
                    padding: 0;
                    font-size: $sx-text;
                    line-height: 1.25rem; 
                    background-color: transparent; 
                    color: $z-lightgray;
                        &::placeholder{
                            color: #cbe2d1;
                            opacity: 0.5;
                        }
                        &:focus{
                            outline:none;
                        }
                }
                .searchToggle{
                    width: 280px; 
                    padding: 0.625rem; 
                }
                a{
                    display: flex; 
                    justify-content: center; 
                    align-items: center; 
                    border-radius: 9999px; 
                    font-size: $sx-text;
                    line-height: 1.25rem; 
                    font-weight: 600; 
                    background: #cbe2d1;
                    height: 30px;
                    width: 30px;
                    color: #043a4e;

                }
            }
            .bellicons{
                display: inline-flex; 
                position: relative; 
                justify-content: center; 
                align-items: center; 
                border-radius: 9999px; 
                width: 2.5rem; 
                height: 2.5rem; 
                font-size: 0.875rem;
                line-height: 1.25rem; 
                font-weight: 500; 
                text-align: center; 
                color: #6B7280; 
                margin-left: 1rem;
                background: $z-byzantine;
                border: none;
                &:hover {
                color: #CBE2D1;
                }
                .activenotification{
                    display: block; 
                    position: absolute; 
                    top: 0; 
                    right: 0; 
                    border-radius: 9999px; 
                    width: 0.625rem; 
                    height: 0.625rem; 
                    background: $z-orange-color;
                }
            }
        }
        .user_profile{
            // width: 100%;
            display: flex;
            background-color: unset;
            border: none;
            margin-left: 1rem;
            position: relative;
            img{
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 0.75rem;
            }
        }
        .user_deatils{
            text-align: left;
            
            p{
                font-weight: 600;
                line-height: 1.25rem;
                color: $z-lightgray;
                font-size: $small-text;
                margin: 0;
                padding-left: 0.75rem;
            }

        }
        .header-dropdown{
            position: absolute;
            inset: 0px auto auto 0px;
            margin: 0px;
            /* transform: translate3d(1468.4px, 70.4px, 0px); */
            background-color: #5a4468;
            border-radius: 0.5rem;
            text-align: left;
            z-index: 1;
            top: 0;
            width: 220px;
            left: -45px;
            top: 140%;
            
            // transform: translate3d(670.4px, 64px, 0px);
            .information{
                padding: 0.75rem 1rem;
                border-bottom: 1px solid $z-lightgray;
                span{
                    display: block;
                    line-height: 1.25rem;
                    font-size: $sx-text;
                    color: $z-lightgray;
                    &:nth-child(2){
                        font-size: $small-text;
                        line-height: 1rem;
                        font-weight: 500;
                    }
                }
            }
            .user-menu-button{
                padding: 0.5rem 0px;
                margin: 0;
                li {
                    a{
                        font-size: $sx-text;
                        line-height: 1.25rem;
                        padding: 0.5rem 1rem;
                        width: 100%;
                        display: block;
                        color: $z-lightgray;
                    }
                    &:hover{
                        a{
                            color: $z-orange-color;
                        }
                    }
                }
            }
        }
    }
}

.notificationDropdown{
    display: block; 
    overflow: auto; 
    z-index: 20; 
    border-radius: 0.5rem; 
    border-top-width: 1px; 
    width: 450px; 
    max-width: 24rem; 
    max-height: 24rem; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
    background: #5a4468;
    position: absolute;
    margin: 0;
    inset: 0px auto auto 0px;
    left: -170px;
    text-align: left;
    top: 140%;
  

    // transform: translate3d(494.4px, 70.4px, 0px);
    .notificationInner{
        display: block; 
        padding: 0.5rem 1rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem; 
        font-weight: 500; 
        text-align: center; 
        color: $z-lightgray;
    }
    .notificationlisting{
        border-top: 1px solid  $z-lightgray;
        border-bottom: 1px solid $z-lightgray;
        .cloumn{
            width: 100%;
            padding: 0.75rem;
            display: flex;
            align-items: center;
            border-bottom: 1px solid $z-lightgray;
            &:last-child{
                border-bottom: none;

            }
            .img_col{
                width: 2.75rem;
                height: 2.75rem;
                border-radius: 100%;
                overflow: hidden;
                img{
                    max-width: 100%;
                }
            }
            .userInfo{
                padding-left: 0.75rem;
                .name{
                    font-size: $sx-text;
                    color: $z-lightgray;
                    line-height: 1.25rem;
                    a{
                        font-weight: 600;
                        color: $z-teal;
                    }
                    
                }
                span{
                    font-size: $small-text;
                    line-height: 1rem;
                    color: #cbe2d199;
                }
                
            }
            
        }
       
    
    }
    .view-all{
        a{
            color: $z-teal;
            font-weight: 500;
            line-height: 1rem;
            font-size: $small-text;
            padding: 0.5rem;
        }
    }
}



// 
.dropdownMenu {
    .mat-mdc-menu-panel{
        box-shadow: unset!important;
        background: none!important;
    }
}