<div class="main">
  <div class="dasboard">
    <div class="cs-container">
      <div class="dasbaordInner">
        <div class="heading">
          <h1>Seeker Management</h1>
        </div>
        <div class="dashboardData seekersDashboard">
          <div class="rightCol col-12">
            @for (sectionArr of seekerDashboard; track $index) {
              <div class="plans_col col-4 z-seeker-dashboard-col-{{$index + 1}} ">
                @for (config of sectionArr; track $index) {
                <ng-container zDynamicComponent [config]="config" (update)="emitButton($event)"></ng-container>  
                }
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>