@import '../../../../assets/styles/color-variables';
@import '../../../../assets/styles/typography';

//
.SideNavigation {
  position: relative;
  height: 100vh;
  .closeButton {
    position: absolute;
    right: -20px;
    color: $z-teal;
    width: 0.75rem;
    height: 0.75rem;
    .mat-mdc-button-persistent-ripple {
      &::before {
        background-color: transparent;
      }
    }
  }
  .heading {
    display: flex;
    align-items: center;
    color: $z-teal;
    font-weight: 600;
    font-size: $sm-text;
    line-height: 1.5rem;
    gap: 0.25rem;
    margin-bottom: 1.5rem;
  }
  .invitOn {
    margin-bottom: 0.375rem;
    font-size: $sm-text;
    line-height: 1.5rem;
    font-weight: 600;
    color: $z-teal;
  }
  .loginForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.formFeild {
  label {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    font-size: $sx-text;
    line-height: 1.25rem;
    font-weight: 500;
    color: $z-ocean;
    text-transform: capitalize;
  }
}
.formFeild {
  width: 48%;
  margin-bottom: 2rem;
  &:nth-child(3) {
    width: 100%;
  }
  .mat-mdc-form-field {
    width: 100%;
  }
  ::ng-deep {
    .mat-mdc-form-field-infix {
      width: 100%;
      padding: 10px 0px;
    }
    .mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before {
      background-color: unset !important;
    }
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
      .mdc-notched-outline
      .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
      .mdc-notched-outline
      .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
      .mdc-notched-outline
      .mdc-notched-outline__trailing {
      border-color: $z-orange-color !important;
    }
    .mdc-notched-outline__notch {
      mat-label {
        text-transform: capitalize;
      }
    }
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
      .mdc-text-field__input {
      font-size: $sx-text;
      line-height: 1.25rem;
    }
    .mdc-notched-outline__leading {
      border-top-left-radius: 0.5rem !important;
      border-bottom-left-radius: 0.5rem !important;
    }
    .mdc-notched-outline__trailing {
      border-top-right-radius: 0.5rem !important;
      border-bottom-right-radius: 0.5rem !important;
    }
    .mat-mdc-text-field-wrapper {
      height: 41px !important;
      background-color: transparent;
    }
    .mdc-floating-label {
      transform: translateY(-81%);
      font-size: $sx-text;
      line-height: 1.25rem;
    }
    .mdc-icon-button {
      padding: 0;
    }
    .mdc-floating-label--float-above {
      color: $z-orange-color !important;
    }
    .mat-mdc-icon-button {
      svg {
        color: $z-orange-color;
      }
    }
  }
}

// chips & inpuy
::ng-deep {
  .loginForm {
    .formFeild.formFeild-3,
    .formFeild.formFeild-4 {
      width: 100%;
      label {
        font-weight: 600;
        font-size: $sm-text;
        line-height: 1.5rem;
        color: $z-teal;
        margin-bottom: 0px;
      }
      mat-form-field {
        width: 100%;
      }
      .mdc-line-ripple {
        &::after {
          display: none;
        }
        &::before {
          display: none;
        }
      }
      .chipOtr {
        width: 100%;
        display: block;
      }
      .mat-mdc-chip-input {
        width: 100%;
        display: block;
        width: 100%;
        border: 1px solid $z-orange-color;
        border-radius: 0.5rem;
        margin-top: 0px;
        height: 41px;
        padding: 0px 10px;
        // &::placeholder{
        //     color: red;
        // }
      }
      .mdc-text-field--filled:not(.mdc-text-field--disabled)
        .mdc-text-field__input {
        font-size: 1rem;
      }
      mat-chip-row {
        margin-bottom: $sm-text;
        display: inline-flex;
        align-items: center;
        border-radius: 15px;
        background: $z-byzantine-lite-2;
        height: 20px;
        position: relative;

        line-height: normal;
        span {
          color: $z-lightgray !important;
          font-size: $small-text;

          // padding-right:12px ;
        }
        .mat-mdc-chip-remove {
          position: absolute;
          top: -5px;
          right: -15px;
          color: $z-ocean;
          opacity: 1;
        }
        .mdc-evolution-chip__action--primary {
          padding-right: 20px;
          padding-left: 20px;
        }
      }
      .mat-mdc-text-field-wrapper {
        height: unset !important;
        padding: 0;

        &:hover {
          .mat-mdc-form-field-focus-overlay {
            opacity: unset !important;
            background-color: unset;
          }
        }
      }
    }
  }
  .mat-mdc-form-field-infix {
    min-height: unset !important;
  }
  .mat-calendar {
    background-color: $z-lightgray;
    border-radius: 0.5rem;
    border: 1px solid $z-teal;
  }
  .mat-datepicker-content {
    background-color: unset !important;
  }
}

// Status button

::ng-deep {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
  .mdc-form-field {
    label {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: #043a4e;
    }
  }
  .mdc-checkbox__background {
    background-color: transparent !important;
    border-color: $z-teal !important;
    border-radius: 0.25rem !important;
  }

  .applyButton {
    position: absolute;
    bottom: 36px;
    button {
      // margin-top:130px!important;
      font-size: $sx-text;
      line-height: 1.25rem;
      font-weight: 500;
      padding: 0.75rem 2rem !important;
      height: unset;
      text-transform: uppercase;
      background-color: $z-teal !important;
      border-radius: 0.5rem;
    }
  }
  .mdc-line-ripple {
    display: none;
  }
  .mat-mdc-form-field-focus-overlay {
    display: none;
  }
//   background-color: ;
  .mdc-button__ripple ,.mat-ripple{
    display: none!important;
  }
}

.formFeild-5 {
  label {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $z-teal;
    margin-bottom: 0px;
  }
}
.formFeild-6 {
  margin-top: 17px;
}
