.error-message {
    font-size: 12px;
    color: #c40c0c;
    bottom: -2px;
    font-weight: 500;
}

.contactEnable {
    .mdc-button {
        background: #043a4e !important;
        color: #cbe2d1 !important;
        box-shadow: none;
    }
}

#navbar-default {
    @media(max-width: 1279px) {
        position: absolute;
        top: 90px;
        z-index: 9;
        // padding: 20px;
        border-radius: 10px;
        height: calc(100vh - 120px);
        overflow: auto;
        width: 85% !important;
    }
    ul {
        li {
            &:last-child {
                @media(min-width: 1279px) {
                    display: none;
                }
            }
        }
    }
}

// contact form
.z-contact-us {
    .z-form-control {
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(7),
        &:nth-child(8) {
            grid-column: span 2 / span 2;
        }
        @media(max-width: 580px) {
            grid-column: span 2 / span 2;
        }
        .mat-mdc-form-field-subscript-wrapper {
            position: absolute;
        }
    }
    z-simple-button {
        white-space: nowrap;
    }
    z-dropdown {
        position: relative;
    }
    z-footer footer {
        margin-bottom: 60px;
    }
    .error-message {
        position: absolute !important;
        bottom: -22px !important;
        left: 0;
    }
}

@media(max-width: 1279px) {
    // responsive menu animation
    @keyframes image-zoom-in {
        0% {
            left: 120%;
        }
        100% {
            left: 15%;
        }
    }
    .responsive-toggle-menu {
        #navbar-default {
            -webkit-animation: image-zoom-in 1s ease-out both;
            animation: image-zoom-in 1s ease-out both;
            left: 15%;
            ul {
                li {
                    margin: 5px 0;
                    a {
                        color: #CBE2D1 !important;
                        line-height: 22px !important;
                    }
                }
            }
        }
    }
    z-main-layout,
    z-footer {
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        width: 100%;
        left: 0;
        position: relative;
    }
    z-home {
        &.responsive-toggle-menu {
            z-main-layout,
            z-footer {
                transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                width: 100%;
                left: -85%;
            }
            .navbar-toggle-button {
                button {
                    background-image: url(/assets/images/close-icon.png) !important;
                    background-size: 22px !important;
                }
            }
        }
    }
}