/* Color Variables */
$primary-color: #043A4E;
$secondary-color: #4EA692;
$disabled-color: #CBE2D1;
$purple-color: #6D597A;
$orange-color: #FF9D48;

/* Font Weight Variables */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

/* Font Size Variables */
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-30: 30px;
$font-75: 75px;

/* Text Transform Variables */
$text-capitalize: capitalize;
$text-lowercase: lowercase;
$text-uppercase: uppercase;

/* Font Style Variables */
$font-italic: italic;
