<div class="main">
  <div class="dasboard">
    <div class="cs-container">
      <div class="dasbaordInner">
        <div class="heading">
          <h1>Dashboard</h1>
        </div>
        <div class="dashboardData superAdmindasboard">
          <div class="rightCol">
            <div class="plans_col col-6">
              <div class="reminderCol">
                <div class="head">
                  <strong>Good Morning!</strong>
                  <p>You have reminders left for today, please check<p>
                </div>
                <div class="appointmentReminder">
                  <svg
                    class="flex-shrink-0 w-4 h-4"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                    ></path>
                  </svg>
                  <p>Jennie Collen has been successfully onboarded</p>
                </div>
                <div class="btnblock">
                  <a
                    >Sell all
                    <span class="material-symbols-outlined"
                      >arrow_right_alt</span
                    ></a
                  >
                </div>
              </div>

              <!-- orginzation -->
              <div class="orginzationOuter">
                <div class="head">
                  <strong>Organizations</strong>
                  <p>Total 9 Organizations</p>
                </div>
                <ul class="Organizationslists">
                  <li>
                    <div class="userinfo">
                      <h5><a>Kaiser Permanente</a></h5>
                      <span>Psychologist</span>
                    </div>
                    <span class="patientalloted">Patients : 50</span>
                  </li>
                  <li>
                    <div class="userinfo">
                      <h5><a>Premera Blue Cross</a></h5>
                      <span>Psychiatrist</span>
                    </div>
                    <span class="patientalloted">Patients: 40</span>
                  </li>
                  <li>
                    <div class="userinfo">
                      <h5><a>Elevance Health</a></h5>
                      <span>Psychoanalyst</span>
                    </div>
                    <span class="patientalloted">Patients : 10</span>
                  </li>
                  <li>
                    <div class="userinfo">
                      <h5><a>United Healthcare</a></h5>
                      <span>Psychoanalyst</span>
                    </div>
                    <span class="patientalloted">Patients : 30</span>
                  </li>
                  <li>
                    <div class="userinfo">
                      <h5><a>Kaiser Permanente</a></h5>
                      <span>Neuropsychiatist</span>
                    </div>
                    <span class="patientalloted">Patients : 20</span>
                  </li>
                  <li>
                    <div class="userinfo">
                      <h5>
                        <a>Molina Healthcare Inc.</a>
                      </h5>
                      <span>Psychotherapist</span>
                    </div>
                    <span class="patientalloted">Patients : 30</span>
                  </li>
                </ul>
                <div class="view-all">
                  <a
                    ><span class="material-symbols-outlined">visibility</span>
                    VIEW All</a
                  >
                </div>
              </div>

              <!-- slider -->

              <div class="assesments">
                <div class="assesmentsInner">
                  <div class="reminderCol wellnessPlan">
                    <div class="head">
                      <strong>Top Trending Assessments</strong>
                    </div>
                    <div class="assementSlider">
                         <z-common-carousel [config]="configs" style="width: 100%"></z-common-carousel>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 inviationcolumn">
              <div class="invitation onboardOrginazationouter">
                <a class="onboardOrginazation">
                  <h4>Onboard Organization</h4>
                  <p>
                    Your onboarded 3 organization Yestersday, add more today by
                    click on below button.
                  </p>
                  <span class="material-symbols-outlined">add</span>
                </a>
                <div class="add" (click)="showWidget()">
                  <span
                    class="material-symbols-outlined "
                    data-drawer-target="drawer-right-example"
                    data-drawer-show="drawer-right-example"
                    data-drawer-placement="top"
                    aria-controls="drawer-right-example" >
                    add_circle
                  </span>
                  <div class="tooltip">Widget</div>
                </div>
              </div>
              <div class="conditionChart">
                <div class="head">
                  <strong>Conditions</strong>
                </div>
                <div class="chartIng">
                  <!-- <img src="../../../../assets/images/conditionChart.png"/> -->
                  <z-z-donut-chart [config]="donutChartOptions"></z-z-donut-chart>
                  
                </div>
                
              </div>
              <div class="seekersList">
                <div class="head">
                  <strong>Seekers</strong>
                  <p>Total 110 Seekers</p>
                </div>
                <ul>
                  <li>
                    <div class="seekersListinner">
                      <img
                        src="../../../../assets/images/user-1.jpg"
                        alt="user photo"
                      />
                      <h5><a>Jennie Collen</a></h5>
                    </div>
                    <a>Clinician : Jese Leos</a>
                  </li>
                  <li>
                    <div class="seekersListinner">
                      <img
                        src="../../../../assets/images/user-1.jpg"
                        alt="user photo"
                      />
                      <h5><a>Neil Sims</a></h5>
                    </div>
                    <a>Clincian : Mary Smith</a>
                  </li>
                  <li>
                    <div class="seekersListinner">
                      <img
                        src="../../../../assets/images/user-1.jpg"
                        alt="user photo"
                      />
                      <h5><a>Leslie Livingston</a></h5>
                    </div>
                    <a>Clincian : Colerd Baer</a>
                  </li>
                </ul>
                <div class="view-all">
                  <a>View all</a>
                </div>
              </div>
              
              <!--wellness slider -->
              <div class="reminderCol wellnessPlan superAdminWellness">
                <div class="head">
                  <strong>Wellness Plans</strong>
                </div>
                <z-carousel-3d [config]="imgData"></z-carousel-3d>
              </div>
            </div>
          </div>
          <div class="leftCol">
            <div class="conditionChart ClinicianSpecialities">
              <div class="head">
                <strong>Clinician Specialities</strong>
              </div>
              <div class="cli-cart">
                <z-pie-chart [config]="pieChartOptions"></z-pie-chart>
                <!-- <img src="../../../../assets/images/cli-chart.png"/> -->
              </div>
            </div>
            <div class="pendinginvites">
              <div class="pendinginvites-heading">
                <h4>Pending Invites for Super Admin</h4>
                <a>View All Invites</a>
              </div>
              <div class="info">
                <div class="columns">
                  <div class="columnsHead">
                    <h4>Kaiser Permanente</h4>
                    <div class="icons">
                      <div class="cross icon">
                        <span class="material-symbols-outlined"   matTooltip="Reject">add</span>
                        <div class="tooltip">
                          <span>Reject</span>
                        </div>         
                      </div>
                      <div class="tick icon cs-relative">
                        <span class="material-symbols-outlined " matTooltip="Accept">done</span>
                        <div class="tooltip">Accept</div>

                      </div>
                    </div>
                  </div>

                  <p>
                    Encourage users to adopt healthy lifestyle habits that can help alleviate anxiety symptoms.
                  </p>
                  <div class="invitation">
                    <div class="npi">
                      <span>NPI : 245319599 </span>
                    </div>
                    <div class="invitationDates">
                      <p>
                        <span class="material-symbols-outlined text-base">
                          calendar_today
                        </span>
                        Invited on<span class="date">Jan 02, 2024</span>
                      </p>
                      <a
                        ><span>View Details</span
                        ><span class="material-symbols-outlined"
                          >trending_flat</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="info">
                <div class="columns">
                  <div class="columnsHead">
                    <h4>Premera Blue Cross</h4>
                    <div class="icons">
                      <div class="cross icon">
                        <span class="material-symbols-outlined" matTooltip="Reject">add</span>
                      </div>
                      <div class="tick icon">
                        <span class="material-symbols-outlined" matTooltip="Accept">done</span>
                      </div>
                    </div>
                  </div>

                  <p>
                    Encourage users to adopt healthy lifestyle habits that can
                    help alleviate anxiety symptoms.
                  </p>
                  <div class="invitation">
                    <div class="npi">
                      <span>NPI : 245319598 </span>
                    </div>
                    <div class="invitationDates">
                      <p>
                        <span class="material-symbols-outlined text-base">
                          calendar_today
                        </span>
                        Invited on<span class="date">Jan 02, 2024</span>
                      </p>
                      <a
                        ><span>View Details</span
                        ><span class="material-symbols-outlined"
                          >trending_flat</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="info">
                <div class="columns">
                  <div class="columnsHead">
                    <h4>Elevance Health</h4>
                    <div class="icons">
                      <div class="cross icon">
                        <span class="material-symbols-outlined" matTooltip="Reject">add</span>
                      </div>
                      <div class="tick icon">
                        <span class="material-symbols-outlined" matTooltip="Accept">done</span>
                      </div>
                    </div>
                  </div>

                  <p>
                    Offer guided mindfulness meditation sessions, deep breathing exercises, progressive relaxation.
                  </p>
                  <div class="invitation">
                    <div class="npi">
                      <span>NPI : 245319597 </span>
                    </div>
                    <div class="invitationDates">
                      <p>
                        <span class="material-symbols-outlined text-base">
                          calendar_today
                        </span>
                        Invited on<span class="date">Jan 02, 2024</span>
                      </p>
                      <a
                        ><span>View Details</span
                        ><span class="material-symbols-outlined"
                          >trending_flat</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="info">
                <div class="columns">
                  <div class="columnsHead">
                    <h4>Molina Healthcare Inc.</h4>
                    <div class="icons">
                      <div class="cross icon">
                        <span class="material-symbols-outlined" matTooltip="Reject">add</span>
                      </div>
                      <div class="tick icon">
                        <span class="material-symbols-outlined" matTooltip="Accept">done</span>
                      </div>
                    </div>
                  </div>

                  <p>
                    Include features for users to track their medication usage, set reminders for taking prescriptions.
                  </p>
                  <div class="invitation">
                    <div class="npi">
                      <span>NPI : 245319596 </span>
                    </div>
                    <div class="invitationDates">
                      <p>
                        <span class="material-symbols-outlined text-base">
                          calendar_today
                        </span>
                        Invited on<span class="date">Jan 02, 2024</span>
                      </p>
                      <a
                        ><span>View Details</span
                        ><span class="material-symbols-outlined"
                          >trending_flat</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- jumbo colors -->
<div class="jumbodropdown" [class.dropdownActive]="showWidgetDropdown">
  <div class="jumboDropDownInner">
    <div class="header">
        <div class="logo">
          <h5><span class="material-symbols-outlined">widgets</span>  Custom Widgets</h5>
        </div>
        <div class="crossIcon">
            <button (click)="closeWidget()">
                <span class="material-symbols-outlined">
                  close
                </span>
            </button>

        </div>
    </div>
    <div class="jumboDropDownLink">
      <ul>
        <li>
            <input type="checkbox" id="widget-1" value="" checked="" class="checkbox">
            <label for="widget-1">                           
              <span class="material-symbols-outlined text-2xl">volunteer_activism</span>
                <span >User Welcome</span>
            </label>
        </li>
        <li>
            <input type="checkbox" id="widget-2" value="" class="checkbox" checked="">
            <label for="widget-2">                           
              <span class="material-symbols-outlined text-2xl">mindfulness</span>
                <span >Wellness Plan</span>
            </label>
        </li>
        <li>
            <input type="checkbox" id="widget-3" value="" class="checkbox" checked="">
            <label for="widget-3">                           
              <span class="material-symbols-outlined text-2xl">edit_note</span> 
                <span >Create Assessment</span>
            </label>
        </li>
        <li>
            <input type="checkbox" id="widget-4" value="" class="checkbox" checked="">
            <label for="widget-4">                           
              <span class="material-symbols-outlined text-2xl">handshake</span>  
                <span >Onboard Patient</span>
            </label>
        </li>
        <li>
            <input type="checkbox" id="widget-5" value="" class="checkbox" checked="">
            <label for="widget-5">                           
              <span class="material-symbols-outlined text-2xl">group</span> 
                <span >View Patients</span>
            </label>
        </li>
        <li>
            <input type="checkbox" id="widget-6" value="" class="checkbox" checked="">
            <label for="widget-6">                           
              <span class="material-symbols-outlined text-2xl">stress_management</span>
                <span >Create Wellness Plan</span>
            </label>
        </li>
        <li>
            <input type="checkbox" id="widget-7" value="" class="checkbox" checked="">
            <label for="widget-7">                           
              <span class="material-symbols-outlined text-2xl">description</span>
                <span >Assessments</span>
            </label>
        </li>
        <li>
            <input type="checkbox" id="widget-8" value="" class="checkbox" checked="">
            <label for="widget-8">                           
              <span class="material-symbols-outlined text-2xl">group</span>   
                <span >View Organizations</span>
            </label>
        </li>
        <li>
            <input type="checkbox" id="widget-9" value="" class="checkbox" checked="">
            <label for="widget-9">                           
              <span class="material-symbols-outlined text-2xl">query_stats</span> 
                <span >Let's View Stats</span>
            </label>
        </li>
        <li>
            <input type="checkbox" id="widget-10" value="" class="checkbox" checked="">
            <label for="widget-10">                           
              <span class="material-symbols-outlined text-2xl">calendar_month</span>
                <span >Appointments</span>
            </label>
        </li>
        
        <li>
            <input type="checkbox" id="widget-12" value="" class="checkbox">
            <label for="widget-12">                           
              <span class="material-symbols-outlined text-2xl">sticky_note_2</span>
                <span >Questionnaire Templates</span>
            </label>
        </li>
    
        <li>
            <input type="checkbox" id="widget-14" value="" class="checkbox">
            <label for="widget-14">                           
              <span class="material-symbols-outlined text-2xl">trending_up</span>
                <span >Trending Templates</span>
            </label>
        </li>
        <li>
            <input type="checkbox" id="widget-15" value="" class="checkbox">
            <label for="widget-15">                           
              <span class="material-symbols-outlined text-2xl">assignment</span>
                <span >Consent Form</span>
            </label>
        </li>
        <li>
            <input type="checkbox" id="widget-16" value="" class="checkbox">
            <label for="widget-16">                           
              <span class="material-symbols-outlined text-2xl">communities</span>
                <span >Community</span>
            </label>
        </li>
        <li>
            <input type="checkbox" id="widget-17" value="" class="checkbox">
            <label for="widget-17">                           
              <span class="material-symbols-outlined text-2xl">join</span>
                <span >Create Community</span>
            </label>
        </li>
    </ul>
    </div>
  </div>
</div>