.navbar-toggle-button {
    button {
        background-image: url(/assets/images/responsive-menu.png);
        background-size: 28px;
        background-repeat: no-repeat;
        background-position: center;
    }
}