<div class="main">
  <div class="dasboard">
    <div class="cs-container">
      <div class="dasbaordInner seekerListing">
        <div class="heading">
          <h1>Seekers</h1>
          <div class="filterData">
            <button><span class="material-symbols-outlined text-md">filter_alt</span> Filters</button>
            <div class="searchFeild">
                <input type="text" placeholder="Search by Name,"/>
                <div class="searchIcon">
                    <svg  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                    </svg>
                </div>
            </div>
            <div class="listView">
                <span class=" material-symbols-outlined">
                    lists
                </span>
            </div>
          </div>
        </div>
        <div class="list-data">
            <tabs></tabs>
        </div>
        
      </div>
    </div>
  </div>
</div>


