<div class="form">
  <div class="forgotPassword">
    <strong>Forgot Password?</strong>
    <p>Don't worry! It occurs. Please enter the email address linked with your account.</p>
  </div>
  <form [formGroup]="form">
    <div class="loginForm">
      @for (config of configs; track $index) {
      <ng-container zDynamicField [group]="form" [config]="config"></ng-container>
      }
    </div>
  </form>
  <z-simple-button (buttonClick)="verifyEmail()" class="forgot-btn">send otp</z-simple-button>
</div>