$z-lightgray: #cbe2d1;
$z-lightgray-1: #a0a0a0;
$z-byzantine-lite: #9e84ae;
$z-byzantine-lite-1: #897199;
$z-byzantine-lite-2: #6d597a;
$z-byzantine: #5d4b6a;
$z-byzantine-dark: #44324f;
$z-teal: #4ea692;
$z-teal-dark: #2a9980;
$z-ocean: #043a4e;
$z-ocean-light-1: #1b5c74;
$z-ocean-light-2: #437c8f;
$z-ocean-light-3: #2e687d;
$z-orange-color: #ff9d48;
$-lightgreen :#4ea69261;
$z-byzantine-lite-3 :#5a4468;
$z-transparent : #a9a9a91a;