<div id="circularMenu1" class="circular-menu circular-menu-left" [ngClass]="{'active': isActive}">

    <a class="floating-btn" (click)="toggleActive()">
      <span class="material-symbols-outlined">widgets</span>
    </a>
  
    <menu class="items-wrapper">
      <a href="javascript:void(0)" class="menu-item" >
          <span class="material-symbols-outlined">calendar_add_on</span>
          <div  class="toltipList ">
              Create Appointment
              <div class="tooltip-arrow" ></div>
          </div>
      </a>
      <a href="javascript:void(0)" class="menu-item">
          <span class="material-symbols-outlined">mindfulness</span>
          <div  class="toltipList ">
              Create Wellness Plan
              <div class="tooltip-arrow"></div>
          </div>
      </a>
      <a href="javascript:void(0)" class="menu-item" >
          <span class="material-symbols-outlined">add_notes</span>
          <div  class=" toltipList ">
              Create Assessment
              <div class="tooltip-arrow" ></div>
          </div>
      </a>
      <a href="javascript:void(0)" class="menu-item" >
          <span class="material-symbols-outlined">question_mark</span>
          <div  class="toltipList ">
              Create Question
              <div class="tooltip-arrow" ></div>
          </div>
      </a>
      <a href="javascript:void(0)" class="menu-item">
          <span class="material-symbols-outlined">handshake</span>
          <div   class="toltipList ">
              Patient Onboard
              <div class="tooltip-arrow" ></div>
          </div>
      </a>
      <a href="javascript:void(0)" class="menu-item" >
          <span class="material-symbols-outlined">format_list_bulleted</span>
          <div    class="toltipList" >
              Create Consent Form
              <div class="tooltip-arrow" ></div>
          </div>
      </a>
    </menu>
  
  </div>