<footer class="w-full bg-[#6D597A] pt-8 md:pb-10 pb-16">
    <div class="xl:container m-auto">
        <div class="flex flex-wrap md:flex-row sm:flex-col flex-col md:gap-0 sm:gap-3 xl:px-5 lg:px-7 md:px-7 px-6 justify-between items-center">
            <img class="w-[120px]" src="/assets/images/zumlo-logo.png" alt="">
            <p class="text-base text-[#CBE2D1] text-center">© 2024 Zumlo. All rights reserved. </p>
            <div class="flex md:gap-5 sm:gap-1 gap-1">
                <img src="/assets/images/facebook.png" alt="">
                <img src="/assets/images/instagram.png" alt="">
                <img src="/assets/images/linkedin.png" alt="">
            </div>
        </div>
    </div>
</footer>